.search-bar  {
    display: flex;
    justify-content: center;

  //flex-direction: column;
    align-items: center;
  }



  input[type="text"] {
    color: black;
    width: 100%;
    padding: 10px;
    font-size: 16px;
   // border: 1px solid #ccc;
    border-radius: 5px;

  }
