<!-- <div class="search-bar">
    <input matInput mat-dialog-title  type="text" placeholder="Search coins" [(ngModel)]="searchTerm"
         (keyup)="filterPlace()" [matMenuTriggerFor]="suggestions">
    <mat-menu #suggestions="matMenu"  class="menu-content">
      <ng-template matMenuContent>
        <mat-list mat-dialog-content role="list">
          <mat-list-item *ngFor="let place of filteredData" (click)="selectedPlace(place)">
            {{ place.city }}
          </mat-list-item>
        </mat-list>
      </ng-template>
    </mat-menu>
  </div>
 -->
 <mat-form-field  [color]="colorControl.value!">
  <mat-label>Favorite food</mat-label>
  <mat-select [formControl]="colorControl" name="food">
    <mat-form-field class="example-full-width">
      <input (keyup)="filterPlace()" [(ngModel)]="searchTerm" matInput />
    </mat-form-field>
    <mat-option *ngFor="let food of filteredData" [value]="food.city">
      {{food.city}}
    </mat-option>
  </mat-select>
</mat-form-field>