.p-inputtext {
  border-color: rgb(21, 217, 34);
}
.container {
  display: flex;
  flex-direction: column;
}

.fixed-input {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 1;
}

.scrollable-list {
  flex-grow: 1;
  overflow-y: auto;
  padding-top: 1rem;
}

.spacer {
  margin-right: 5px;
}

@media screen and (max-width: 767px) {
 
  .p-inputtext {
    width: 100%;
    font-size: 13px;
  }
  .p-listbox-list{
    font-size:3px;
    color: rebeccapurple;
  }
}
