.p-inputtext {
  border-color: rgb(21, 217, 34);
}
.container {
  display: flex;
  flex-direction: column;
}

.fixed-input {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 1;
}

.scrollable-list {
  flex-grow: 1;
  overflow-y: auto;
  padding-top: 1rem;
}
.p-listbox-item {
  font-weight: bold;
  color: red;
}
.spacer {
  margin-right: 5px;
}


