
.p-inputtext {
    border-color: rgb(21, 217, 34);
    width: 200%;
   
}
.hoverable {
    position: relative;
    display: inline-block;
  }
  
  
  
  .hoverable:hover::after {
    border-left-color: red; /* Adjust the color of the arrow on hover */
    background-color: aqua;
  }
  